.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards {
  margin: 0 auto;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  border: 2px solid;
  background: #3692c7 100%;
}

a {
  text-decoration: none;
}

video {
  object-fit: auto;
  width: 20%;
  height: 90%;
  top: 10%;
  right: 5%;
  position: absolute;
  z-index: -1;
}